*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #219C90;
    overflow: hidden;
}

body>h1{
    text-align: center;
    font-size: 3vw;
    height: 5vw;
    background-color: black;
    color: crimson;
    line-height: 5vw;
}

.container{
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

.container>.game{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.container>.game>.box{
    height: 10vw;
    width: 10vw;
    background-color: #FBFADA;
    color: crimson;
    border: none;
    font-size: 6vw;
    cursor: pointer;
    border-radius: 2vw;
}

.container>.game>.box:hover{
    /* resize: -2px; */
    opacity: .8;
}

.msg{
    text-align: center;
    font-size: 5vw;
    /* color: orangered; */
    height: 7vw;
}

body>.button{
    text-align: center;
    position: absolute;
    right: 5vw;
    top: 50vh;
    transform: translate(-5%,-50%);
    /* margin-top: -20px; */
}

body>.button>button{
    background-color: black;
    color: #FBFADA;
    padding: 2vw 3vw;
    border-radius: 50px;
    font-size: 2vw;
}

body>.button>button:hover{
    scale: 1.01;
}

/* body>.button>button:mouse{
    scale: .9;
    background-color: red;
    color: black; */
/* } */

@media (max-width:600px) {
    body>h1{
        font-size: 8vw;
        height: 12vw;
        line-height: 12vw;
    }
    .container{
        height: 80vw;
        width: 100%;
    }
    .container>.game{
        width: 80vw;
        gap: 2vw;
    }
    .container>.game>.box{
        height: 20vw;
        width: 20vw;
        font-size: 11vw;
    }
    .msg{
        font-size: 8vw;
        height: 13vw;
        margin-bottom: 1vw;
    }
    body>.button{
        position: relative;
        display: flex;
        top: 0vw;
        right: 0vw;
        left: 5.8vw;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}